@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #0F0F0F;
  
  --color-brand-primary: #FFFFFF;
  --color-brand-surface: #F9F9F9;
  --color-brand-secondary: #C2A96B;
  --color-brand-accent: #8F7A3A;
  --color-brand-dark: #0F0F0F;
  --color-brand-text: #3A3426;

  --font-cormorant: "Cormorant Garamond", serif;
  --font-inter: "Inter", sans-serif;

  --color-border: #C2A96B;
}

@layer base {
  body {
    @apply bg-brand-primary text-brand-text font-inter;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-cormorant;
  }
}
